name: Deploy to Staging
on:
    push:
        branches : [main]
jobs:
    redeploy_everything:
        runs-on: ubuntu-latest
        name: deploying everything to staging cluster
        steps:
            - run: |
                echo "${{secrets.aws_ssh_key}}" &> ~/ssh_key 
                mkdir -p ~/.ssh
                chmod 700 ~/ssh_key
                touch ~/.ssh/known_hosts
                echo "${{secrets.known_hosts}}" &> ~/.ssh/known_hosts
                ssh -i ~/ssh_key ubuntu@65.1.86.215 -t "cd deployment-testing"

